<a href="https://colab.research.google.com/github/lourencocavalcante/Advanced-Topics-in-Environmental-Modeling/blob/main/CAP_TAMA_2022_Parte1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[<img src="https://github.com/lourencocavalcante/LogosINPE/blob/main/logoinpe.png?raw=true" width = 500 align="left">](https://www.gov.br/inpe/pt-br)

[<img src="https://github.com/lourencocavalcante/LogosINPE/blob/main/LogoCAP.png?raw=true" width = 300 align="right">](http://www.inpe.br/posgraduacao/cap/)

# <span style="color:#336699">Estatística Matemática com atributos do disdrômetro RD80 e do radiômetro de microondas MP3000A</span>
<hr style="border:2px solid #0077b9;">

<br/>

<div style="text-align: center;font-size: 110%;">
    <b>CAP-425 – Tópicos Avançados em Modelagem Ambiental (TAMA)</b>
    <br/>
    <b>Docentes:</b> Dr. Leonardo Bacelar Lima Santos e Dr. Stephan Stephany
    <br/><br/>
    <b>Discente:</b> Lourenço José Cavalcante Neto
    <br/>
    <b>E-mail:</b> <a href="mailto:lourenco.cavalcante@ifto.edu.b">lourenco.cavalcante@ifto.edu.br</a>

</div>

<br/>

<div style="text-align: justify;  margin-left: 20%; margin-right: 20%;">
<b>Objetivo: </b> O principal objetivo deste caderno notebook é apresentar o Pré-processamento e análise básica de dados de multisensores, desde a aquisição, extração e inserção no ambiente de execução, manutenção, armazenamento, limpeza, processamento, preparação e arquitetura dos dados.
</div>

Este notebook também pode ser visualizado no meu diretório de materiais e atividades da disciplina **CAP-425** no **Github**,  [Clicando aqui](https://github.com/lourencocavalcante/Advanced-Topics-in-Environmental-Modeling.git).

# **Pré-processamento**

## **Dataset**

Os dados que serão utilizados para o desenvolvimento do presente projeto compreendem o período de 17 de março de 2020 a 07 julho 2022, e são oriundos de multi-sensores de dois equipamentos – um radiômetro de microonda de superfície MP3000A e um disdrômetro RD80 (Joss) -, instalados em um sítio chamado Campina (S 02 10.9142 W 059 1.3063), a aproximadamente 150 km ao Nordeste de Manaus, na amazônia brasileira.

O radiômetro MP3000A foi usado para coletar informações e determinar características macrofísicas das nuvens como o conteúdo integrado de água líquida, vapor d’água e temperaturas de brilho. O objetivo operacional do MP3000A (WARE et al, 2003) é realizar sondagens termodinâmicas continuas durante todas as condições de tempo com resolução temporal de no mínimo 2 minutos e com uma resolução espacial que pode chegar a 10km. Já o disdrômetro RD80, também conhecido como Joss, foi usado nas medições de taxa de chuva, coletando e medindo a distribuição das gotas de chuva que chegam à superficie.

## **Importação de módulos e bibliotecas**
São várias as bibliotecas que podem ser utilizadas para realizar o pré-processamento de dados. Entre elas podemos destacar a biblioteca **Pandas**. Trata-se de uma biblioteca para leitura, manipulação e análise de dados tabulados. Essa biblioteca oferece estruturas de dados e operações para manipular conjuntos massivos de tabelas numéricas e séries temporais de forma otimizada. No python, por convensão, as bibliotecas são importadas conforme podemos ver na célula abaixo:

In [319]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure
import math
import calendar
import datetime

## **Obtendo os arquivos de dados**

In [320]:
#Vamos baixar os dados do Google Drive para o Notebook

!gdown --id 1koPJvJfjBZ8rjJz6KpG_152iCOmZYmwL #Down. WD_campina_report_RZLwcDmDtNdrop_b2.1_report_one
!gdown --id 10vfZT3CBNQdA7NmgiJu56zx3Qip_jS1G #Down. WD_campina_report_RZLwcDmDtNdrop_b2.1_report


!gdown --id 1-O7rbpNWPZIIpAHjYFKDqKakIPodJKNU #Down. level1_output_sfc
!gdown --id 1vu86XV_ALlRHCUXCJ3hx-9ip3LKRBvby #Down. level1_output_bt
!gdown --id 1cqDM6Digc54lPFvbNr68AtAxQR8hWVRk #Down. level2_output_cld_atto

/usr/local/lib/python3.7/dist-packages/gdown/cli.py:131: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  category=FutureWarning,
Downloading...
From: https://drive.google.com/uc?id=1koPJvJfjBZ8rjJz6KpG_152iCOmZYmwL
To: /content/JWD_campina_report_RZLwcDmDtNdrop_b2.1_report_one.txt
100% 147M/147M [00:00<00:00, 401MB/s]
/usr/local/lib/python3.7/dist-packages/gdown/cli.py:131: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  category=FutureWarning,
Downloading...
From: https://drive.google.com/uc?id=10vfZT3CBNQdA7NmgiJu56zx3Qip_jS1G
To: /content/JWD_campina_report_RZLwcDmDtNdrop_b2.1_report.txt
100% 14.7M/14.7M [00:00<00:00, 375MB/s]
/usr/local/lib/python3.7/dist-packages/gdown/cli.py:131: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  category=FutureWarning,
Downloading...
From: https://drive.google.com/uc?id=1-O7rbpNWPZIIpAHjYFKDqKakIPodJKNU
To: /content/level1_output_sfc.txt
100% 69.7M/69.7M [00:00<00:00, 349MB/s]
/usr/local/lib/python3.7/dist-packages/gdown/cli.py:131: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  category=FutureWarning,
Downloading...
From: https://drive.google.com/uc?id=1vu86XV_ALlRHCUXCJ3hx-9ip3LKRBvby
To: /content/level1_output_bt.txt
100% 168M/168M [00:00<00:00, 358MB/s]
/usr/local/lib/python3.7/dist-packages/gdown/cli.py:131: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  category=FutureWarning,
Downloading...
From: https://drive.google.com/uc?id=1cqDM6Digc54lPFvbNr68AtAxQR8hWVRk
To: /content/level2_output_cld_atto.txt
100% 58.2M/58.2M [00:00<00:00, 305MB/s]

Temos quatro tipos de arquivos:

* **level1_output_sfc.txt**: 
`Neste arquivo estão os dados do ambiente próximo à superfície.`

* **level1_output_bt.txt**: 
`Neste arquivos estão os dados das medidas dos canais do microonda.`

* **level2_output_cld_atto.txt**: 
`Neste arquivo estão as variáveis estimadas associadas a parâmetros de nuvens.`

* **JWD_campina_report_RZLwcDmDtNdrop_b2.1_report.txt**: 
`Neste arquivo estão dados de medida da distribuição das gotas de chuva que chegam à superfície.`

Com o objetivo de facilitar a leitura dos dados e torná-los **tidy**, primeiramente será necessário carregá-los como um **dataframe**. Vamos carregar os dados e criar os dataframes:

In [321]:
#Abrindo os dados e criando os Dataframes
df_rd80_joss_one = pd.read_table('./JWD_campina_report_RZLwcDmDtNdrop_b2.1_report_one.txt',header=None, delim_whitespace=True)
df_rd80_joss = pd.read_table('./JWD_campina_report_RZLwcDmDtNdrop_b2.1_report.txt',header=None, delim_whitespace=True)
df_mp3000A_1 = pd.read_table('./level1_output_sfc.txt',header=None,delim_whitespace=True)
df_mp3000A_2 = pd.read_table('./level1_output_bt.txt',header=None,delim_whitespace=True)
df_mp3000A_3 = pd.read_table('./level2_output_cld_atto.txt',header=None,delim_whitespace=True)

Vamos criar uma lista contendo os Dataframes para que possamos manipulá-los a partir daqui.

In [322]:
list_dataframes = [df_rd80_joss_one, df_rd80_joss, df_mp3000A_1, df_mp3000A_2, df_mp3000A_3]

In [323]:
#Vamos verificar o tamanho dos Datasets e visualizar as suas colunas.
print('TAMANHO DO DATASET E QUANTIDADE DE ATRIBUTOS:\n')
for item in list_dataframes:
  print('Tamanho do dataset: ',item.shape[0], ' - Quantidade de atributos: ', item.shape[1])

TAMANHO DO DATASET E QUANTIDADE DE ATRIBUTOS:

Tamanho do dataset:  315420  - Quantidade de atributos:  31
Tamanho do dataset:  31548  - Quantidade de atributos:  31
Tamanho do dataset:  639828  - Quantidade de atributos:  12
Tamanho do dataset:  639694  - Quantidade de atributos:  29
Tamanho do dataset:  639542  - Quantidade de atributos:  10

Agora vamos investigar mais algumas informações sobre nossos dados:

In [324]:
for itemDtypes in list_dataframes:
  print(itemDtypes.info(),'\n')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 315420 entries, 0 to 315419
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       315420 non-null  float64
 1   1       315420 non-null  float64
 2   2       315420 non-null  float64
 3   3       315420 non-null  float64
 4   4       315420 non-null  float64
 5   5       315420 non-null  float64
 6   6       315420 non-null  float64
 7   7       315420 non-null  float64
 8   8       315420 non-null  float64
 9   9       315420 non-null  float64
 10  10      315420 non-null  float64
 11  11      315420 non-null  float64
 12  12      315420 non-null  float64
 13  13      315420 non-null  float64
 14  14      315420 non-null  float64
 15  15      315420 non-null  float64
 16  16      315420 non-null  float64
 17  17      315420 non-null  float64
 18  18      315420 non-null  float64
 19  19      315420 non-null  float64
 20  20      315420 non-null  float64
 21  21      315420 non-null  float64
 22  22      315420 non-null  float64
 23  23      315420 non-null  float64
 24  24      315420 non-null  float64
 25  25      315420 non-null  float64
 26  26      315420 non-null  float64
 27  27      315420 non-null  float64
 28  28      315420 non-null  float64
 29  29      315420 non-null  float64
 30  30      315420 non-null  float64
dtypes: float64(31)
memory usage: 74.6 MB
None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31548 entries, 0 to 31547
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       31548 non-null  float64
 1   1       31548 non-null  float64
 2   2       31548 non-null  float64
 3   3       31548 non-null  float64
 4   4       31548 non-null  float64
 5   5       31548 non-null  float64
 6   6       31548 non-null  float64
 7   7       31548 non-null  float64
 8   8       31548 non-null  float64
 9   9       31548 non-null  float64
 10  10      31548 non-null  float64
 11  11      31548 non-null  float64
 12  12      31548 non-null  float64
 13  13      31548 non-null  float64
 14  14      31548 non-null  float64
 15  15      31548 non-null  float64
 16  16      31548 non-null  float64
 17  17      31548 non-null  float64
 18  18      31548 non-null  float64
 19  19      31548 non-null  float64
 20  20      31548 non-null  float64
 21  21      31548 non-null  float64
 22  22      31548 non-null  float64
 23  23      31548 non-null  float64
 24  24      31548 non-null  float64
 25  25      31548 non-null  float64
 26  26      31548 non-null  float64
 27  27      31548 non-null  float64
 28  28      31548 non-null  float64
 29  29      31548 non-null  float64
 30  30      31548 non-null  float64
dtypes: float64(31)
memory usage: 7.5 MB
None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 639828 entries, 0 to 639827
Data columns (total 12 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       639828 non-null  float64
 1   1       639828 non-null  float64
 2   2       639828 non-null  float64
 3   3       639828 non-null  float64
 4   4       639828 non-null  float64
 5   5       639828 non-null  float64
 6   6       639828 non-null  float64
 7   7       639828 non-null  float64
 8   8       639828 non-null  float64
 9   9       639828 non-null  float64
 10  10      639828 non-null  float64
 11  11      639828 non-null  float64
dtypes: float64(12)
memory usage: 58.6 MB
None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 639694 entries, 0 to 639693
Data columns (total 29 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       639694 non-null  float64
 1   1       639694 non-null  float64
 2   2       639694 non-null  float64
 3   3       639694 non-null  float64
 4   4       639694 non-null  float64
 5   5       639694 non-null  float64
 6   6       639694 non-null  float64
 7   7       639694 non-null  float64
 8   8       639694 non-null  float64
 9   9       639694 non-null  float64
 10  10      639694 non-null  float64
 11  11      639694 non-null  float64
 12  12      639694 non-null  object
 13  13      639638 non-null  float64
 14  14      639694 non-null  float64
 15  15      639694 non-null  float64
 16  16      639694 non-null  float64
 17  17      639694 non-null  float64
 18  18      639694 non-null  float64
 19  19      639694 non-null  float64
 20  20      639694 non-null  float64
 21  21      639694 non-null  float64
 22  22      639694 non-null  float64
 23  23      639694 non-null  float64
 24  24      639694 non-null  float64
 25  25      639694 non-null  float64
 26  26      639694 non-null  float64
 27  27      639694 non-null  float64
 28  28      633642 non-null  float64
dtypes: float64(28), object(1)
memory usage: 141.5+ MB
None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 639542 entries, 0 to 639541
Data columns (total 10 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       639542 non-null  float64
 1   1       639542 non-null  float64
 2   2       639542 non-null  float64
 3   3       639542 non-null  float64
 4   4       639542 non-null  float64
 5   5       639542 non-null  float64
 6   6       639542 non-null  float64
 7   7       639542 non-null  float64
 8   8       639542 non-null  float64
 9   9       639542 non-null  float64
dtypes: float64(10)
memory usage: 48.8 MB
None

Vamos visualizar as 3 primeiras e 3 últimas linhas de cada arquivo de dados

In [325]:
#Visualização das primeiras 3 linhas e últimas 3 linhas
df_rd80_joss_one.head(n=3).append(df_rd80_joss.tail(n=3))

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
0,2020.0,3.0,17.0,13.0,52.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2020.0,3.0,17.0,13.0,53.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2020.0,3.0,17.0,13.0,54.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31545,2022.0,8.0,30.0,22.0,22.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31546,2022.0,8.0,30.0,22.0,23.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31547,2022.0,8.0,30.0,22.0,24.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [326]:
#Visualização das primeiras 3 linhas e últimas 3 linhas
df_rd80_joss.head(n=3).append(df_rd80_joss.tail(n=3))

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
0,2022.0,8.0,8.0,20.0,10.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2022.0,8.0,8.0,20.0,11.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2022.0,8.0,8.0,20.0,12.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31545,2022.0,8.0,30.0,22.0,22.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31546,2022.0,8.0,30.0,22.0,23.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31547,2022.0,8.0,30.0,22.0,24.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [327]:
#Visualização das primeiras 3 linhas e últimas 3 linhas
df_mp3000A_1.head(n=3).append(df_mp3000A_1.tail(n=3))

,0,1,2,3,4,5,6,7,8,9,10,11
0,7.0,27.0,21.0,18.0,13.0,14.0,294.66,59.58,1007.91,300.24,0.0,1.0
1,7.0,27.0,21.0,18.0,13.0,47.0,294.61,59.31,1008.01,300.23,0.0,1.0
2,7.0,27.0,21.0,18.0,14.0,20.0,294.61,59.00,1007.91,300.08,0.0,1.0
639825,6.0,1.0,22.0,9.0,18.0,54.0,296.92,97.02,1006.81,294.13,0.0,1.0
639826,6.0,1.0,22.0,9.0,19.0,28.0,296.90,97.12,1006.81,294.07,0.0,1.0
639827,6.0,1.0,22.0,9.0,20.0,2.0,296.90,97.12,1006.71,293.81,0.0,1.0

In [328]:
#Visualização das primeiras 3 linhas e últimas 3 linhas
df_mp3000A_2.head(n=3).append(df_mp3000A_2.tail(n=3))

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,28
0,7.0,27.0,21.0,18.0,13.0,43.0,299.553,298.792,299.311,299.058,...,300.183,300.143,299.012,299.483,299.548,299.959,299.148,299.191,297.988,1.0
1,7.0,27.0,21.0,18.0,14.0,16.0,298.621,297.995,298.545,298.243,...,300.666,300.709,300.292,300.012,299.761,299.947,300.099,300.532,299.782,1.0
2,7.0,27.0,21.0,18.0,14.0,49.0,298.661,298.165,298.656,298.803,...,300.163,299.355,299.336,299.576,299.548,300.128,300.154,300.136,299.668,1.0
639691,6.0,1.0,22.0,9.0,18.0,51.0,64.936,63.554,55.201,50.706,...,257.767,278.936,286.974,289.723,291.697,292.569,291.686,292.493,292.344,1.0
639692,6.0,1.0,22.0,9.0,19.0,24.0,65.290,62.837,55.538,50.678,...,258.137,279.318,287.624,290.941,290.921,292.366,291.882,293.362,293.898,1.0
639693,6.0,1.0,22.0,9.0,19.0,57.0,64.701,63.214,55.056,50.426,...,257.485,279.108,288.287,290.856,292.084,292.356,293.001,293.633,292.026,1.0

In [329]:
#Visualização das primeiras 3 linhas e últimas 3 linhas
df_mp3000A_3.head(n=3).append(df_mp3000A_3.tail(n=3))

          0     1     2     3     4     5       6       7    8    9
0       7.0  27.0  21.0  18.0  13.0  45.0  11.642  19.680  0.0  1.0
1       7.0  27.0  21.0  18.0  14.0  18.0  11.523  19.684  0.2  1.0
2       7.0  27.0  21.0  18.0  14.0  50.0  11.544  19.686  0.2  1.0
639539  6.0   1.0  22.0   9.0  18.0  52.0   4.299   0.000  0.0  1.0
639540  6.0   1.0  22.0   9.0  19.0  26.0   5.400   0.000  0.0  1.0
639541  6.0   1.0  22.0   9.0  19.0  59.0   4.176   0.000  0.0  1.0

Como vimos, a colunas de dados não vieram com seus nomes. Vamos resolver isso adicionando nome para as colunas dos dados do instrumento RD80 e do MP3000A, uma vez que sabemos o que cada coluna representa, de acordo com as especificações recebidas juntamente com os dados.

In [330]:
#Vamos adicionar os títulos das colunas:
df_rd80_joss_one.columns = ['Ano', 'Mes', 'dia', 'H', 'M', 'S','Rain_Intensity_mm_h', 'radar_reflectivity_1_mm6m3','Liquid_watercontent_g_m3',
'Mean_weight_diameter_mm', 'Time_integration_s', 'N_D1', 'N_D2', 'N_D3', 'N_D4', 'N_D5', 'N_D6', 'N_D7', 'N_D8', 'N_D9', 'N_D10', 'N_D11', 'N_D12', 'N_D13', 'N_D14', 'N_D15', 'N_D16', 'N_D14', 'N_D18', 'N_D19', 'N_D20']

df_rd80_joss.columns = ['Ano', 'Mes', 'dia', 'H', 'M', 'S','Rain_Intensity_mm_h', 'radar_reflectivity_1_mm6m3','Liquid_watercontent_g_m3',
'Mean_weight_diameter_mm', 'Time_integration_s', 'N_D1', 'N_D2', 'N_D3', 'N_D4', 'N_D5', 'N_D6', 'N_D7', 'N_D8', 'N_D9', 'N_D10', 'N_D11', 'N_D12', 'N_D13', 'N_D14', 'N_D15', 'N_D16', 'N_D14', 'N_D18', 'N_D19', 'N_D20']


df_mp3000A_1.columns = ['Mes', 'dia', 'Ano', 'H', 'M', 'S', 'Tamb_K', 'Rh_percent', 'Pres_mb', 'Tir_K', 'Rain', 'DataQuality']

df_mp3000A_2.columns = ['Mes', 'dia', 'Ano', 'H', 'M', 'S', 'Ch_22_234', 'Ch_22_500', 'Ch_23_034', 'Ch_23_834', 'Ch_25_000', 'Ch_26_234', 'Ch_28_000', 'Ch_30_000', 'Ch_51_248', 'Ch_51_760', 'Ch_52_280', 'Ch_52_804', 'Ch_53_336', 'Ch_53_848', 'Ch_54_400', 'Ch_54_940', 'Ch_55_500', 'Ch_56_020', 'Ch_56_660', 'Ch_57_288', 'Ch_57_964', 'Ch_58_800', 'DataQuality']

df_mp3000A_3.columns = ['Mes', 'dia', 'Ano', 'H', 'M', 'S', 'Int_Vapor_cm','Int_Liquid_mm','Cloud_Base_km','DataQuality']

Aqui adicionamos a coluna Datetime para cada um dos Dataframes, com os dados de data e hora. Primeiramente vamos converter o tipo dos dados de data e hora para (int), para que possamos manipulá-los na criação da coluna Datetime, e em seguida adicionaremos a coluna Datetime.

In [331]:
#Modificanto o tipo de dado para (int)
df_rd80_joss_one[['Ano', 'Mes', 'dia', 'H', 'M', 'S']] = df_rd80_joss_one[['Ano', 'Mes', 'dia', 'H', 'M', 'S']].astype(int)
df_rd80_joss[['Ano', 'Mes', 'dia', 'H', 'M', 'S']] = df_rd80_joss[['Ano', 'Mes', 'dia', 'H', 'M', 'S']].astype(int)
df_mp3000A_1[['Mes', 'dia', 'Ano', 'H', 'M', 'S']] = df_mp3000A_1[['Mes', 'dia', 'Ano', 'H', 'M', 'S']].astype(int)
df_mp3000A_2[['Mes', 'dia', 'Ano', 'H', 'M', 'S']] = df_mp3000A_2[['Mes', 'dia', 'Ano', 'H', 'M', 'S']].astype(int)
df_mp3000A_3[['Mes', 'dia', 'Ano', 'H', 'M', 'S']] = df_mp3000A_3[['Mes', 'dia', 'Ano', 'H', 'M', 'S']].astype(int)

Agora vamos juntar os dados do mp3000A em um único Dataframe, utilizando a dunção **merge** do **pandas**.

In [332]:
#df_MP3000A = pd.merge(df_mp3000A_1,df_mp3000A_2, how='outer', on = ['Datetime','DataQuality'])
#df_MP3000A_final = pd.merge(df_MP3000A, df_mp3000A_3, how='outer', on = ['Datetime','DataQuality'])

df_MP3000A = pd.merge(df_mp3000A_1,df_mp3000A_2, how='outer', on = ['Ano', 'Mes', 'dia', 'H', 'M', 'S','DataQuality'])
df_MP3000A_final = pd.merge(df_MP3000A, df_mp3000A_3, how='outer', on = ['Ano', 'Mes', 'dia', 'H', 'M', 'S','DataQuality'])

In [333]:
df_MP3000A_RD80_final = pd.merge(df_rd80_joss_one, df_MP3000A_final, how='outer', on = ['Ano', 'Mes', 'dia', 'H', 'M', 'S'])

Após juntar os Dataframes, vamos ver o novo tamanho do nosso dataset e quantidade de atributos.

In [334]:
#Tamanho do Dataset
print('TAMANHO DO DATASET E QUANTIDADE DE ATRIBUTOS:\n')

print('Tamanho do dataset: ',df_MP3000A_RD80_final.shape[0], ' - Quantidade de atributos: ', df_MP3000A_RD80_final.shape[1])

TAMANHO DO DATASET E QUANTIDADE DE ATRIBUTOS:

Tamanho do dataset:  2234484  - Quantidade de atributos:  62

Adicionando a coluna Datetime aos Dataframes.

In [335]:
#Faz uma busca na coluna Ano e altera o ano de YY para YYYY
df_MP3000A_RD80_final['Ano'][df_MP3000A_RD80_final['Ano'] < 2000] = df_MP3000A_RD80_final['Ano'] + 2000

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:8870: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [336]:
#Adiciona a coluna Datetime ao Dataframe com os dados do RD80 (Joss)
df_MP3000A_RD80_final['Datetime'] = df_MP3000A_RD80_final[['Ano', 'Mes', 'dia', 'H', 'M', 'S']].apply(lambda row:
                    datetime.datetime(year=row['Ano'], month=row['Mes'],day=row['dia'], hour=row['H'], minute=row["M"], second=row["S"]),axis=1)

#Caso queiramos definir a coluna 'Datetime' como Índice
#df_rd80_joss = df_rd80_joss.set_index('Datetime')

In [337]:
df_MP3000A_RD80_final.columns

Index(['Ano', 'Mes', 'dia', 'H', 'M', 'S', 'Rain_Intensity_mm_h',
       'radar_reflectivity_1_mm6m3', 'Liquid_watercontent_g_m3',
       'Mean_weight_diameter_mm', 'Time_integration_s', 'N_D1', 'N_D2', 'N_D3',
       'N_D4', 'N_D5', 'N_D6', 'N_D7', 'N_D8', 'N_D9', 'N_D10', 'N_D11',
       'N_D12', 'N_D13', 'N_D14', 'N_D15', 'N_D16', 'N_D14', 'N_D18', 'N_D19',
       'N_D20', 'Tamb_K', 'Rh_percent', 'Pres_mb', 'Tir_K', 'Rain',
       'DataQuality', 'Ch_22_234', 'Ch_22_500', 'Ch_23_034', 'Ch_23_834',
       'Ch_25_000', 'Ch_26_234', 'Ch_28_000', 'Ch_30_000', 'Ch_51_248',
       'Ch_51_760', 'Ch_52_280', 'Ch_52_804', 'Ch_53_336', 'Ch_53_848',
       'Ch_54_400', 'Ch_54_940', 'Ch_55_500', 'Ch_56_020', 'Ch_56_660',
       'Ch_57_288', 'Ch_57_964', 'Ch_58_800', 'Int_Vapor_cm', 'Int_Liquid_mm',
       'Cloud_Base_km', 'Datetime'],
      dtype='object')

Vamos reordenar as colunas dos Dataframes

In [338]:
df_MP3000A_RD80_final = df_MP3000A_RD80_final.reindex(columns=['Datetime','Ano', 'Mes', 'dia', 'H', 'M', 'S', 'Rain_Intensity_mm_h',
       'radar_reflectivity_1_mm6m3', 'Liquid_watercontent_g_m3',
       'Mean_weight_diameter_mm', 'Time_integration_s', 'N_D1', 'N_D2', 'N_D3',
       'N_D4', 'N_D5', 'N_D6', 'N_D7', 'N_D8', 'N_D9', 'N_D10', 'N_D11',
       'N_D12', 'N_D13', 'N_D14', 'N_D15', 'N_D16', 'N_D14', 'N_D18', 'N_D19',
       'N_D20', 'Tamb_K', 'Rh_percent', 'Pres_mb', 'Tir_K', 'Rain',
       'DataQuality', 'Ch_22_234', 'Ch_22_500', 'Ch_23_034', 'Ch_23_834',
       'Ch_25_000', 'Ch_26_234', 'Ch_28_000', 'Ch_30_000', 'Ch_51_248',
       'Ch_51_760', 'Ch_52_280', 'Ch_52_804', 'Ch_53_336', 'Ch_53_848',
       'Ch_54_400', 'Ch_54_940', 'Ch_55_500', 'Ch_56_020', 'Ch_56_660',
       'Ch_57_288', 'Ch_57_964', 'Ch_58_800', 'Int_Vapor_cm', 'Int_Liquid_mm','Cloud_Base_km'])

ValueError: ignored

Vamos visualizar novamente as colunas dos Dataframes para verificar se elas forma reordenadas corretamente.

In [339]:
df_MP3000A_RD80_final.columns

Index(['Ano', 'Mes', 'dia', 'H', 'M', 'S', 'Rain_Intensity_mm_h',
       'radar_reflectivity_1_mm6m3', 'Liquid_watercontent_g_m3',
       'Mean_weight_diameter_mm', 'Time_integration_s', 'N_D1', 'N_D2', 'N_D3',
       'N_D4', 'N_D5', 'N_D6', 'N_D7', 'N_D8', 'N_D9', 'N_D10', 'N_D11',
       'N_D12', 'N_D13', 'N_D14', 'N_D15', 'N_D16', 'N_D14', 'N_D18', 'N_D19',
       'N_D20', 'Tamb_K', 'Rh_percent', 'Pres_mb', 'Tir_K', 'Rain',
       'DataQuality', 'Ch_22_234', 'Ch_22_500', 'Ch_23_034', 'Ch_23_834',
       'Ch_25_000', 'Ch_26_234', 'Ch_28_000', 'Ch_30_000', 'Ch_51_248',
       'Ch_51_760', 'Ch_52_280', 'Ch_52_804', 'Ch_53_336', 'Ch_53_848',
       'Ch_54_400', 'Ch_54_940', 'Ch_55_500', 'Ch_56_020', 'Ch_56_660',
       'Ch_57_288', 'Ch_57_964', 'Ch_58_800', 'Int_Vapor_cm', 'Int_Liquid_mm',
       'Cloud_Base_km', 'Datetime'],
      dtype='object')

Após os ajustes anteriores, podemos finalizar esta etapa removendo as colunas nas quais não iremos utilizar a partir daqui.

In [ ]:
#Vamos remover as colunas que não iremos utilizar

#df_MP3000A_RD80_final = df_MP3000A_RD80_final.drop(columns=['Mes', 'dia', 'Ano', 'H', 'M', 'S','N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D',
       #'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D', 'N_D',
       #'N_D', 'N_D', 'N_D'])

Iremos criar um baseline. Uma baseline é importante para ter marcos no projeto. A baseline que iremos criar é por **categoria**, ou seja, se a chuva foi fraca, moderada,forte, muito forte ou se não choveu, tomando como base os dados da medida da distribuição das gotas de chuva que chegam à superfície. tomando como referência o atributo **Rain_Intensity_mm_h** do **RD80**, as regras serão:

* Chuva fraca: 0.1-2.5mm/h;
* Chuva moderada: >2.5 - 10mm/h;
* Chuva forte: >10 - 50mm/h;
* Chuva muito forte: >50mm/h
* Não choveu: 0mm/h

Mas antes disso, precisamos aplicar uma pequena normalização. Vamos olhar os dados da coluna Rain_Intensity_mm_h, do Dataframe **df_rd80_joss** e, onde o valor for menor que **0.1** nós iremos substituir por **0 (zero)**. Além disso, também será realizada uma busca por valores nulos (NaN) nos nossos dados e, a correção será também a troca por 0 (zero).

In [340]:
df_MP3000A_RD80_final['Rain_Intensity_mm_h'][df_MP3000A_RD80_final['Rain_Intensity_mm_h'] < 0.1] = 0

In [341]:
#Verificando e contando os valores Nulos (NaN)
df_MP3000A_RD80_final.isna().sum()

Ano                    0
Mes                    0
dia                    0
H                      0
M                      0
                  ...
Ch_58_800        1594790
Int_Vapor_cm     1594942
Int_Liquid_mm    1594942
Cloud_Base_km    1594942
Datetime               0
Length: 63, dtype: int64

In [342]:
#Substituindo valores Nulos por 0 (zero)
df_MP3000A_RD80_final.fillna(value = 0,  inplace = True)

Vamos verificar se os ajustes nos valores NaN ocorreram corretamente.

In [343]:
#Verificando valores Nulos (NaN)
df_MP3000A_RD80_final.isna().sum()

Ano              0
Mes              0
dia              0
H                0
M                0
                ..
Ch_58_800        0
Int_Vapor_cm     0
Int_Liquid_mm    0
Cloud_Base_km    0
Datetime         0
Length: 63, dtype: int64

Agora sim iremos adicionar as colunas para classificação da intensidade de chuva (mm/h) ao Dataframe **df_rd80_joss**.

In [344]:
#Add as colunas referente à intensidade da chuva. 
df_MP3000A_RD80_final=df_MP3000A_RD80_final.assign(Light_Rain=0, Moderate_Rain=0, Heavy_Rain=0, Very_Heavy_Rain=0, Without_Rain=0, Class_Rain_id=0,Class_Rain='Não choveu')
convert_dict = {'Light_Rain': int,'Moderate_Rain': int,'Heavy_Rain': int,'Very_Heavy_Rain': int,
                'Without_Rain': int,'Class_Rain_id': int, 'Class_Rain':str}  
  
df_MP3000A_RD80_final = df_MP3000A_RD80_final.astype(convert_dict)

## **Vamos considerar somente os dias quw choveram e janelas de 30 minutos**

In [345]:
#Vamos considerar somente os dias que choveram, em janelas de 30 minutos

df_MP3000A_RD80_final_filter = df_MP3000A_RD80_final.query("(Rain_Intensity_mm_h > 0 and (M == 00 or M == 15 or M == 30 or M == 45))")

In [346]:
for index, row in df_MP3000A_RD80_final_filter.iterrows():

    if (row['Rain_Intensity_mm_h'] >= 0.1) and (row['Rain_Intensity_mm_h'] <= 2.5):
      df_MP3000A_RD80_final_filter.loc[index,'Light_Rain'] = 1
      df_MP3000A_RD80_final_filter.loc[index,'Class_Rain'] = 'Chuva fraca'
      df_MP3000A_RD80_final_filter.loc[index,'Class_Rain_id'] = 1
    elif(row['Rain_Intensity_mm_h']  > 2.5) and (row['Rain_Intensity_mm_h']  <= 10):
      df_MP3000A_RD80_final_filter.loc[index,'Moderate_Rain'] = 1
      df_MP3000A_RD80_final_filter.loc[index,'Class_Rain'] = 'Chuva moderada'
      df_MP3000A_RD80_final_filter.loc[index,'Class_Rain_id'] = 2
    elif (row['Rain_Intensity_mm_h']  > 10) and (row['Rain_Intensity_mm_h']  <= 50):
      df_MP3000A_RD80_final_filter.loc[index,'Heavy_Rain'] = 1
      df_MP3000A_RD80_final_filter.loc[index,'Class_Rain'] = 'Chuva forte'
      df_MP3000A_RD80_final_filter.loc[index,'Class_Rain_id'] = 3
    elif (row['Rain_Intensity_mm_h']  > 50):
      df_MP3000A_RD80_final_filter.loc[index,'Very_Heavy_Rain'] = 1
      df_MP3000A_RD80_final_filter.loc[index,'Class_Rain'] = 'Chuva muito forte'
      df_MP3000A_RD80_final_filter.loc[index,'Class_Rain_id'] = 4
    else:
      df_MP3000A_RD80_final_filter.loc[index,'Without_Rain'] = 1
      df_MP3000A_RD80_final_filter.loc[index,'Class_Rain'] = 'Não choveu'
      df_MP3000A_RD80_final_filter.loc[index,'Class_Rain_id'] = 0

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

Vamos ajustar os dados referente ao Datetime, adicionando novas colunas, para que possamos manipular durante os filtros na EDA.

In [347]:
df_MP3000A_RD80_final_filter

,Ano,Mes,dia,H,M,S,Rain_Intensity_mm_h,radar_reflectivity_1_mm6m3,Liquid_watercontent_g_m3,Mean_weight_diameter_mm,...,Int_Liquid_mm,Cloud_Base_km,Datetime,Light_Rain,Moderate_Rain,Heavy_Rain,Very_Heavy_Rain,Without_Rain,Class_Rain_id,Class_Rain
428,2020,3,17,21,0,0,0.01845,0.48298,0.00290,0.43426,...,0.0,0.0,2020-03-17 21:00:00,0,0,0,0,1,0,Não choveu
829,2020,5,7,21,30,0,0.01461,0.48705,0.00199,0.49648,...,0.0,0.0,2020-05-07 21:30:00,0,0,0,0,1,0,Não choveu
979,2020,5,8,0,0,0,0.01373,0.57419,0.00166,0.55883,...,0.0,0.0,2020-05-08 00:00:00,0,0,0,0,1,0,Não choveu
1129,2020,5,8,2,30,0,0.80487,121.74648,0.06019,0.94169,...,0.0,0.0,2020-05-08 02:30:00,1,0,0,0,0,1,Chuva fraca
1144,2020,5,8,2,45,0,1.07094,194.03419,0.07418,1.03092,...,0.0,0.0,2020-05-08 02:45:00,1,0,0,0,0,1,Chuva fraca
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
314810,2022,6,28,23,0,0,0.00912,0.21354,0.00150,0.41543,...,0.0,0.0,2022-06-28 23:00:00,0,0,0,0,1,0,Não choveu
314870,2022,6,29,0,0,0,0.00675,0.15001,0.00115,0.40327,...,0.0,0.0,2022-06-29 00:00:00,0,0,0,0,1,0,Não choveu
314930,2022,6,29,1,0,0,0.00469,0.10332,0.00080,0.40120,...,0.0,0.0,2022-06-29 01:00:00,0,0,0,0,1,0,Não choveu
314990,2022,6,29,2,0,0,0.00734,0.16589,0.00124,0.40696,...,0.0,0.0,2022-06-29 02:00:00,0,0,0,0,1,0,Não choveu
315050,2022,6,29,3,0,0,0.01003,0.25222,0.00157,0.43440,...,0.0,0.0,2022-06-29 03:00:00,0,0,0,0,1,0,Não choveu

In [ ]:
#Vamos converter o "Datetime" em um objeto datetime para que seja mais fácil realizar outras manipulações
df_MP3000A_RD80_final_filter['Datetime'] = df_MP3000A_RD80_final_filter.Datetime.astype('datetime64')

# Criar uma coluna data
df_MP3000A_RD80_final_filter['Date'] = df_MP3000A_RD80_final_filter['Datetime'].dt.date

# Criar uma coluna ano
df_MP3000A_RD80_final_filter['Year'] = df_MP3000A_RD80_final_filter['Datetime'].dt.year

# Criar uma coluna mês
df_MP3000A_RD80_final_filter['Month'] = df_MP3000A_RD80_final_filter['Datetime'].dt.month
df_MP3000A_RD80_final_filter['Month'] = df_MP3000A_RD80_final_filter['Month'].apply(lambda x: calendar.month_abbr[x])

In [352]:

# Ordenando a coluna do mês do ano
df_MP3000A_RD80_final_filter['Month'] = pd.Categorical(df_MP3000A_RD80_final_filter['Month'], 
                                categories= ['Jan','Feb','Mar','Apr','May','Jun', 'Jul',
                                            'Aug','Sep','Oct','Nov','Dec'],
                                              ordered = True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [353]:

# Criando uma coluna de dia da semana

df_MP3000A_RD80_final_filter['Day_of_week'] = [d.day_name() for d in df_MP3000A_RD80_final_filter['Datetime']]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [354]:

  # Ordenando a coluna do dia da semana

df_MP3000A_RD80_final_filter['Day_of_week'] = pd.Categorical(df_MP3000A_RD80_final_filter['Day_of_week'], 
                                categories= ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday', 'Sunday'],
                                              ordered = True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [355]:

# Criando a coluna hora do dia

df_MP3000A_RD80_final_filter['Time'] = [d.time() for d in df_MP3000A_RD80_final_filter['Datetime']]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [356]:

# Dividindo a coluna hora do dia em diferentes sessões em um dia

df_MP3000A_RD80_final_filter = df_MP3000A_RD80_final_filter.assign(session=pd.cut(df_MP3000A_RD80_final_filter.Datetime.dt.hour,
                            [0,6,12,18,23],
                            labels=['Night','Morning','Afternoon','Evening'],
                            include_lowest=True))

Agora vamos garantir de que os nossos dataframes estarão corretamente classificados eem ordem crescente. Vamos usar a função "**sort_values()**" do **Pandas**, tomando como referência a coluna "**Datetime**".

In [357]:
df_MP3000A_RD80_final_filter = df_MP3000A_RD80_final_filter.sort_values(by=['Datetime'])

**Visualização final dos dados**

In [358]:
#Vamos visualizar as primeiras 2 e últimas 2 linhas dos dados
df_MP3000A_RD80_final_filter.loc[df_MP3000A_RD80_final_filter['Rain_Intensity_mm_h'] > 0].head(n=2).append(df_MP3000A_RD80_final_filter.loc[df_MP3000A_RD80_final_filter['Rain_Intensity_mm_h'] > 0].tail(n=2))

,Ano,Mes,dia,H,M,S,Rain_Intensity_mm_h,radar_reflectivity_1_mm6m3,Liquid_watercontent_g_m3,Mean_weight_diameter_mm,...,Very_Heavy_Rain,Without_Rain,Class_Rain_id,Class_Rain,Date,Year,Month,Day_of_week,Time,session
428,2020,3,17,21,0,0,0.01845,0.48298,0.00290,0.43426,...,0,1,0,Não choveu,2020-03-17,2020,Mar,Tuesday,21:00:00,Evening
829,2020,5,7,21,30,0,0.01461,0.48705,0.00199,0.49648,...,0,1,0,Não choveu,2020-05-07,2020,May,Thursday,21:30:00,Evening
314990,2022,6,29,2,0,0,0.00734,0.16589,0.00124,0.40696,...,0,1,0,Não choveu,2022-06-29,2022,Jun,Wednesday,02:00:00,Night
315050,2022,6,29,3,0,0,0.01003,0.25222,0.00157,0.43440,...,0,1,0,Não choveu,2022-06-29,2022,Jun,Wednesday,03:00:00,Night

Visualização das estatísticas descritivas.

In [359]:
#Visualização das estatísticas descritivas
df_MP3000A_RD80_final_filter.describe()

,Ano,Mes,dia,H,M,S,Rain_Intensity_mm_h,radar_reflectivity_1_mm6m3,Liquid_watercontent_g_m3,Mean_weight_diameter_mm,...,Int_Vapor_cm,Int_Liquid_mm,Cloud_Base_km,Light_Rain,Moderate_Rain,Heavy_Rain,Very_Heavy_Rain,Without_Rain,Class_Rain_id,Year
count,2661.000000,2661.000000,2661.000000,2661.000000,2661.000000,2661.0,2661.000000,2661.000000,2661.000000,2661.000000,...,2661.0,2661.0,2661.0,2661.000000,2661.000000,2661.00000,2661.000000,2661.000000,2661.000000,2661.000000
mean,2021.807215,4.666667,15.538144,13.580609,21.352875,0.0,3.069995,2583.418364,0.148672,0.922685,...,0.0,0.0,0.0,0.395716,0.114243,0.05900,0.012026,0.419015,0.849305,2021.807215
std,0.419497,3.180021,8.596629,6.258226,17.106803,0.0,9.839863,12943.172760,0.413581,0.507939,...,0.0,0.0,0.0,0.489096,0.318166,0.23567,0.109020,0.493491,0.924717,0.419497
min,2020.000000,1.000000,1.000000,0.000000,0.000000,0.0,0.002910,0.049730,0.000560,0.359000,...,0.0,0.0,0.0,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,2020.000000
25%,2022.000000,3.000000,8.000000,10.000000,0.000000,0.0,0.019160,0.631590,0.002670,0.462450,...,0.0,0.0,0.0,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,2022.000000
50%,2022.000000,4.000000,15.000000,15.000000,15.000000,0.0,0.181470,21.598540,0.015060,0.836980,...,0.0,0.0,0.0,0.000000,0.000000,0.00000,0.000000,0.000000,1.000000,2022.000000
75%,2022.000000,5.000000,23.000000,18.000000,30.000000,0.0,1.343980,378.161350,0.086370,1.253120,...,0.0,0.0,0.0,1.000000,0.000000,0.00000,0.000000,1.000000,1.000000,2022.000000
max,2022.000000,12.000000,31.000000,23.000000,45.000000,0.0,126.167270,280512.843750,4.893830,3.696910,...,0.0,0.0,0.0,1.000000,1.000000,1.00000,1.000000,1.000000,4.000000,2022.000000

Após todos os ajustes anteriores, finalmente podemos exportar/salvar nossos Dataframes para o formato CSV, afim de usá-los na próxima etapa deste trabalho: **Exploratory Data Analysis (EDA)**.

In [360]:
#Salvando/Exportando os Dataframes para o formato CSV
df_MP3000A_RD80_final_filter.to_csv('./df_MP3000A_RD80_final.csv')

# **Referências**

BRUCE, A.; BRUCE, P. Estatística Prática para Cientistas de Dados. [S.l.]: Alta Books, 2019. ISBN 9788550810805.

COX, V. Exploratory Data Analysis. In: Translating Statistics to Make Decisions. [S.l.]: Apress, Berkeley, CA, 2017. ISBN 978-1-4842-2256-0.

ESCOVEDO, T.; KOSHIYAMA, A. Introdução a Data Science: Algoritmos de Machine
Learning e métodos de análise. [S.l.]: Casa do Código, 2020. ISBN 9788572540551.

IGUAL, L. et al. Introduction to Data Science: A Python Approach to Concepts, Techniques and Applications. [S.l.]: Springer International Publishing, 2017. (Undergraduate Topics in Computer Science). ISBN 9783319500171.

ROSE, T.; CREWELL, S.; LÖHNERT, U.; SIMMER, C. A network suitable microwave radiometer for operational monitoring of the cloudy atmosphere, Atmos. Res., 75, 183–200, 2005.

Tukey, John (1977). Exploratory Data Analysis. Addison-Wesley Publishing Company.

https://cienciadedadosuff.github.io/cursos/notebooks/caderno-3.html